<!doctype html>
<html>
<head>
	<% include inner/_meta %>
	<link rel="stylesheet" href="/css/basic.css" />
	<link rel="stylesheet" href="/css/board.css" />
	<link rel="stylesheet" href="/css/mark-vally.css">
	<title><%= BOARD_ID %></title>
	<script>
		var BOARD_ID = '<%= BOARD_ID %>'; 
	</script>
	<script src="/js/userstorage.js"></script>
</head>
<body>
	
	<h1 title>@<%= BOARD_ID %></h1>
	<p intro>0v0</p>

	<form class="send-box" style="font-size: 0;">
		<textarea id="m" autocomplete="off"></textarea>
		<button blue id="to-send">Send</button>
	</form>
	
	<div class="box"> <!-- relative -->
		<img src="path/to/your/picture" />
		
		<!-- absolute -->
		<img src="path/to/your/icon">
	</div>

	<ul id="messages" class="md"></ul>

	<script src="/js/socket.io-1.4.5.js"></script>
	<script src="/js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="/js/Parser.js"></script>
	<script src="/js/msg.js"></script>
	<script>
		var user = us.getUser(); 
		var msg = new Msg(user); 
		var md = new HyperDown; 

		console.log(user);

		var where = window.location.origin.toString() + '/' + BOARD_ID; 
		var chat = io.connect(where); 

		$('#to-send').click(function(){
			var toSend = $('#m').val(); 

			chat.emit('message', msg.mk(toSend));

			$('#m').val(''); 
			return false;
		});

		function addItem(data){
			// var toAdd = $('<li>').text(data.text).attr('username', data.user.user); 
			let info = data.user.info; 

			console.log(data)

			var str = `
				<li username="${info.id}">
					<div class="msg-header">
						<img src="${info.head}" class="ava" />
						<span class="whosay">

							${info.id}
						</span>
					</div>
					<div class="content">
						<span class="text">
							${ data.text }
						</span>
					</div>
				</li>
			`; 
			var toAdd = $(str); 


			$('#messages').prepend(toAdd);
		}

		chat.on('message', function(data){
			console.log(data); 

			
			addItem(data); 

		});

		chat.on('history', function(msgArr){
			var temp; 
			console.log('HISTORY', msgArr); 

			msgArr.forEach(function(e){
				// $('#messages').prepend($('<li>').text(e.text));
				addItem(e); 
			})
		});
	</script>
</body>
</html>
