<!doctype html>
<html>
<head>
	<% include inner/_meta %>
	<link rel="stylesheet" href="/css/basic.css" />
	<link rel="stylesheet" href="/css/board.css" />
	<link rel="stylesheet" href="/css/mark-vally.css">
	<title>Nep Channel: <%= BOARD_ID %></title>
	<script>
		var BOARD_ID = '<%= BOARD_ID %>'; 
	</script>
	<script src="/js/jump.min.js"></script>
	<script src="/js/userstorage.js"></script>
	<style>
		body {
			border-radius: 0 0 400px 400px;
			padding-bottom: 250px;
		}
	</style>
</head>
<body>
	<header>
		<a href="/"><svg class="back" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="#556" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
			<polyline points="15 18 9 12 15 6"/>
		</svg>
		<h1 class="back-text">Back</h1></a>
		<h1 style="line-height: 1rem;" title>@<%= BOARD_ID %></h1>
	</header>

	<ul class="user-list"></ul>

	<div class="input-area">
		<form class="send-box" style="font-size: 0;">
			<textarea id="m" autocomplete="off"></textarea>
		</form>
		
		<div class="box"> <!-- relative -->
			<button blue id="to-send">Send</button>

			<label for="file-input">
				<svg class="image" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#556" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<rect x="3" y="3" width="18" height="18" rx="2" ry="2"/>
					<circle cx="8.5" cy="8.5" r="1.5"/>
					<polyline points="21 15 16 10 5 21"/>
				</svg>
			</label>
			<label for="any-file">
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#556" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
				    <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"/>
				    <polyline points="13 2 13 9 20 9"/>
				</svg>
			</label>

			<svg class="clock" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#556" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
				<circle cx="12" cy="12" r="10"/>
				<polyline points="12 6 12 12 15 15"/>
			</svg>
		</div>
	</div>

	<ul id="messages" class="md"></ul>

	<div style="display: none;">
		<input id="file-input" accept="image/gif, image/png, image/jpeg" type="file" />
		<input id="any-file" type="file" />
	</div>
	
	<canvas style="display: none;" id="jclock"></canvas>

	<script src="/js/socket.io-1.4.5.js"></script>
	<script src="/js/jquery-3.1.0.min.js"></script>
	<script src="/js/msg.js"></script>
	<script src="/js/jClock.js"></script>
	<script>
		var myClock = new jClock({
			canvasId: 'jclock', 
			clockHight: $('body').width(),
			clockWidth: $('body').width()
		});
	</script>
	<script src="/js/main.js"></script>
	<script src="/js/send-img.js"></script>
	<script src="/js/send-file.js"></script>
	<script src="/js/send-time.js"></script>
</body>
</html>
