<!DOCTYPE html>
<html lang="en">
<head>
	<% include inner/_meta %>
	<title>Login</title>
	<link rel="stylesheet" href="/css/basic.css" />
	<link rel="stylesheet" href="/css/text.css" />
	<link rel="stylesheet" href="/css/login.css" />
	<link rel="stylesheet" href="/css/hover-imagine.css">
	<script src="/js/userstorage.js"></script>
</head>
<body>
	<header>
		<a href="/"><svg class="back" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="#556" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
			<polyline points="15 18 9 12 15 6"/>
		</svg></a>
		<div>
			<h1>登录</h1>
			<p class="intro"><%= msg %></p>
		</div>
	</header>

	<div class="login">
		<!-- Login Svg -->
		<svg xmlns="http://www.w3.org/2000/svg" width="80" height="100" viewBox="0 0 24 24">
			<path d="M14 22h5a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2h-5" fill="none" stroke="#556" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
			<polyline points="11 16 15 12 11 8" fill="none" stroke="#556" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
			<line x1="15" y1="12" x2="3" y2="12" fill="none" stroke="#556" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
		</svg>

		<form id="to-login" action="/login" method="post">
			<input id="id" placeholder="Your Name" name="id" type="text" />
			<input id="pwd" placeholder="***" name="pwd" type="password" />
			<button type="submit">Login</button>
		</form>
	</div>

	<p>没有帐号？</p> <a href="/register">注册 Nep 帐号</a>

	<script src="/js/jquery-3.1.0.min.js"></script>
	<script src="/js/userstorage.js"></script>
	<script>
		function setCookie(c_name, value, expiredays){
			var exdate = new Date(); 

			exdate.setDate(exdate.getDate() + expiredays);

			document.cookie = c_name+ "=" +escape(value)+
				((expiredays==null) ? "" : ";expires="+exdate.toGMTString()); 
		}

		$('#to-login').submit(function(e){
			var o = {
				id: $('#id').val(),
				pwd: $('#pwd').val()
			}; 
			
			$.ajax({
				method: 'post',
				url: '/login',
				data: o,
				dataType: 'json',
				success: function(res){
					if (res.code == 200){
						setCookie('auth', res.data.auth, 15); 
						us.setUser(res.data); 
						window.location.href = '/'; 
					} else {
						alert('帐号密码错误，请重试'); 
					}
				}, 
				error: function(xhr, err, type){
					alert('帐号密码错误，请重试');
				}
			});

			return false; 
		});
	</script>
</body>
</html>