/*board.css*/
#messages {
	margin: 1.5em 0; 
	line-height: 2; 
	list-style-type: none; 
}

#messages > li {
	margin-bottom: 6em; 
	position: relative;
	white-space: nowrap;
}

.msg-header {
	line-height: 48px;
}

#messages .ava {
	width: 48px;
	height: 48px; 
	display: inline-block;
	vertical-align: middle;
	border-radius: 4px; 
}

.content {
	display: block;
	vertical-align: middle;
	/*max-width: 500px;*/
	width: 100%; 
	white-space: normal;
}

.content > span {
	display: block;
}

.whosay {
	color: #AAA;
	vertical-align: middle;
	font-size: 14px;
	padding: .5em .5em;
	/*position: absolute;*/
	top: -8px;
}

.text {
	font-size: 14px;
	vertical-align: middle;
	word-break: break-word;
	line-height: 1.3;
	padding-top: .6em;
}

#m {
	padding: .5em 1em; 
	box-sizing: border-box;
	height: 3rem;
	width: 80%; 
	font-size: .3rem; 
	font-family: inherit;
}

#m:focus {
	outline: none;
}

#to-send {
	width: 20%; 
	border: none;
}

.send-box {
	width: 100%; 
}

.send-box > * {
	vertical-align: top;
}
