/*board.css*/
#messages {
	margin: 1.5em 0; 
	line-height: 2; 
	list-style-type: none; 
}

#messages > li {
	margin-bottom: 6em; 
	position: relative;
	white-space: nowrap;
}

.msg-header {
	line-height: 48px;
	margin-bottom: 1em; 
}

#messages .ava {
	width: 48px;
	height: 48px; 
	display: inline-block;
	vertical-align: middle;
	border-radius: 4px; 
}

.content {
	display: block;
	vertical-align: middle;
	/*max-width: 500px;*/
	width: 100%; 
	white-space: normal;
}

.content img {
	border-radius: 2px; 
}

.content > span {
	display: block;
}

.whosay {
	color: #AAA;
	vertical-align: middle;
	font-size: 14px;
	padding: .5em .5em;
	/*position: absolute;*/
	top: -8px;
}

.text {
	font-size: 14px;
	vertical-align: middle;
	word-break: break-word;
	line-height: 1.3;
	padding-top: .6em;
}

.text h1:nth-child(1) {
	margin-top: 0; 
}

#m {
	padding: .5em 1em; 
	box-sizing: border-box;
	height: 3rem;
	width: 100%; 
	min-width: 100%;
	max-width: 100%; 
	font-size: .3rem; 
	font-family: inherit;
}

#m:focus {
	outline: none;
}

#to-send {
	width: 25%; 
	position: absolute;
	right: 0; 
	top: 0;
	font-size: .3rem; 
	border: none;
	height: 100%; 
}

.send-box {
	width: 100%; 
}

.send-box > * {
	vertical-align: top;
}

.box {
	position: relative;
	padding: .6em 0;
}

.box svg {
	margin-right: .5em; 
	cursor: pointer;
}

.file-content a {
	text-decoration: none!important; 
	display: block;
}

.file-content a:visited .file-container {
	background-color: #EEE;
}

.file-container {
	position: relative;
	padding: 2em .4em;
	transition: all .3s;
	border-radius: 0 250px 250px 0;
}

.file-container:hover {
	background-color: #EEE;
}

.file-container:hover .file-icon {
	margin-left: 2em; 
}

.file-container svg {
	margin-right: .8em; 
}

.file-container > * {
	vertical-align: middle;
	transition: all .3s; 
}

.check {
	position: absolute;
	right: 5%;
	top: 0; 
	height: 100%; 

}

.file-name {
	font-size: .45rem;
	vertical-align: middle;
	color: #556;
}

.board-container {
	overflow-y: scroll;
    height: 400px;
	border: 1px solid #ccc;
	margin-bottom: 2em;
}

.board-alert {
	text-align: center;
	color: #BBB;
	font-size: 12px;
}

.user-list {
	font-size: 0; 
}

.user-avatar {
	font-size: 12px;
	display: inline-block;
	text-align: center;
	position: relative;
	width: 52px; 
	height: 52px; 
}

.user-avatar p {
	position: absolute;
	/*opacity: 0;*/
	line-height: 40px;
	top: 0; 
	left: 0; 
	text-align: center;
	width: 100%; 
	height: 100%; 
	background-color: rgba(0,0,0,.5);
	color: white; 
	border-radius: 4px;
	opacity: 0; 
	transition: all .3s; 
}

.user-avatar p:hover {
	opacity: 1; 
}

.user-avatar img {
	width: 40px;
	border-radius: 4px;
	margin: 6px;
}

.ani-big {
	transform-origin: 50%; 

	animation-name: bigger; 
	animation-iteration-count: 1; 
	animation-fill-mode: forwards;
	animation-duration: .3s; 
}

.ani-small {
	transform-origin: 50%; 

	animation-name: smaller; 
	animation-iteration-count: 1; 
	animation-fill-mode: forwards;
	animation-duration: .3s; 
}

@keyframes bigger {
	from {
		transform: scale(0);
	} to {
		transform: scale(1);
	}
}

@keyframes smaller {
	from {
		transform: scale(1);
		width: 40px; 
	} to {
		transform: scale(0);
		width: 0px; 
	}
}
